<div class="card mb-2">
  <div class="row no-gutters">
    <div class="col-sm-12">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }}</h5>
        <p class="card-text">{{ user.email }}</p>
        <p class="card-text">{{ user.status }}</p>
        <p class="card-text">{{ user.role }}</p>
      </div>
    </div>
  </div>
</div>
