<header>
  <app-toolbar></app-toolbar>
</header>
<main class="container-fluid">
  <div class="row mt-3">
    <div class="col-6">
      <app-new-user (newUser)="onNewUser($event)"></app-new-user>
    </div>
    <div class="col-6">
      <app-users [users]="users" ></app-users>
    </div>
  </div>
</main>
